// main: ../../index.less

.stepSequencer {
  width:1000px;
  margin:0 auto;
  padding:25px;
  border-radius: 8px;
  .shadow(10px, 15px, rgb(0, 0, 0));
  display: flex;
  align-items: flex-end;
  .component-background;
}
