.container-med {
  width: 500px;
  height: 300px;
  padding: 30px;
  background: #b5bdc8;
  background: -webkit-linear-gradient(-45deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
  background: -webkit-linear-gradient(315deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
  background: linear-gradient(135deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
}
.flex-row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  position: relative;
}
* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  background: #14232f;
}
.modal {
  margin: 50px auto;
}
.overlayBg {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(63, 63, 63, 0.644);
}
.button {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-transition: all 0.03s;
  transition: all 0.03s;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  background-image: -webkit-linear-gradient(top left, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  box-shadow: 2px 2px 1px #111, 0px 0px 2px #1e1e1e;
}
.button:active {
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(255, 191, 138, 0.911), rgba(255, 115, 0, 0.883));
  background-image: -webkit-linear-gradient(top left, rgba(255, 191, 138, 0.911), rgba(255, 115, 0, 0.883));
  background-image: linear-gradient(to bottom right, rgba(255, 191, 138, 0.911), rgba(255, 115, 0, 0.883));
  box-shadow: 1px 1px 10px rgba(255, 115, 0, 0.65), 0px 0px 1px rgba(255, 129, 26, 0.65);
}
.slider-large {
  -webkit-appearance: none;
  margin: 6px 0;
  width: 100px;
  position: absolute;
  left: -5px;
  top: 28%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}
.slider-large:focus {
  outline: none;
}
.slider-large::-webkit-slider-runnable-track {
  width: 100px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: INSET 2px 2px 2px 2px rgba(34, 34, 34, 0.6);
  background: #424242;
  border-radius: 1px;
  border: 1px solid black;
}
.slider-large::-webkit-slider-thumb {
  border: 1px solid rgba(22, 22, 22, 0.2);
  height: 12px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, #e0e0e0, #b8b8b8);
  background-image: -webkit-linear-gradient(top left, #e0e0e0, #b8b8b8);
  background-image: linear-gradient(to bottom right, #e0e0e0, #b8b8b8);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
.slider-large:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}
.slider-large::-moz-range-track {
  width: 100px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: INSET 2px 2px 2px 2px rgba(34, 34, 34, 0.6);
  background: #424242;
  border-radius: 1px;
  border: 1px solid black;
}
.slider-large::-moz-range-thumb {
  border: 1px solid rgba(22, 22, 22, 0.2);
  height: 12px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, #e0e0e0, #b8b8b8);
  background-image: linear-gradient(to bottom right, #e0e0e0, #b8b8b8);
  cursor: pointer;
}
.slider-large::-ms-track {
  width: 100px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
.slider-large::-ms-fill-lower {
  background: #353535;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: INSET 2px 2px 2px 2px rgba(34, 34, 34, 0.6);
}
.slider-large::-ms-fill-upper {
  background: #424242;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: INSET 2px 2px 2px 2px rgba(34, 34, 34, 0.6);
}
.slider-large::-ms-thumb {
  border: 1px solid rgba(22, 22, 22, 0.2);
  height: 12px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, #e0e0e0, #b8b8b8);
  background-image: linear-gradient(to bottom right, #e0e0e0, #b8b8b8);
  cursor: pointer;
}
.slider-large:focus::-ms-fill-lower {
  background: #424242;
}
.slider-large:focus::-ms-fill-upper {
  background: #4f4f4f;
}
.slider-small {
  -webkit-appearance: none;
  margin-top: 9px;
  width: 54px;
  position: absolute;
  left: -5px;
  top: 28%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}
.slider-small:focus {
  outline: none;
}
.slider-small::-webkit-slider-runnable-track {
  width: 50px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: INSET 2px 2px 2px 2px rgba(34, 34, 34, 0.6);
  background: #424242;
  border-radius: 1px;
  border: 1px solid black;
}
.slider-small::-webkit-slider-thumb {
  border: 1px solid rgba(22, 22, 22, 0.2);
  height: 12px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, #e0e0e0, #b8b8b8);
  background-image: -webkit-linear-gradient(top left, #e0e0e0, #b8b8b8);
  background-image: linear-gradient(to bottom right, #e0e0e0, #b8b8b8);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
.slider-small:focus::-webkit-slider-runnable-track {
  background: #4f4f4f;
}
.slider-small::-moz-range-track {
  width: 50px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: INSET 2px 2px 2px 2px rgba(34, 34, 34, 0.6);
  background: #424242;
  border-radius: 1px;
  border: 1px solid black;
}
.slider-small::-moz-range-thumb {
  border: 1px solid rgba(22, 22, 22, 0.2);
  height: 12px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, #e0e0e0, #b8b8b8);
  background-image: linear-gradient(to bottom right, #e0e0e0, #b8b8b8);
  cursor: pointer;
}
.slider-small::-ms-track {
  width: 50px;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
.slider-small::-ms-fill-lower {
  background: #353535;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: INSET 2px 2px 2px 2px rgba(34, 34, 34, 0.6);
}
.slider-small::-ms-fill-upper {
  background: #424242;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: INSET 2px 2px 2px 2px rgba(34, 34, 34, 0.6);
}
.slider-small::-ms-thumb {
  border: 1px solid rgba(22, 22, 22, 0.2);
  height: 12px;
  width: 20px;
  border-radius: 2px;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, #e0e0e0, #b8b8b8);
  background-image: linear-gradient(to bottom right, #e0e0e0, #b8b8b8);
  cursor: pointer;
}
.slider-small:focus::-ms-fill-lower {
  background: #424242;
}
.slider-small:focus::-ms-fill-upper {
  background: #4f4f4f;
}
.display {
  font-family: 'Electrolize', sans-serif;
  color: rgba(37, 37, 37, 0.733);
  line-height: 28px;
  text-align: center;
  background: #c1d7d0;
  background-image: -webkit-linear-gradient(bottom right, #c1d7d2, #a2c3bd);
  background-image: linear-gradient(to top left, #c1d7d2, #a2c3bd);
  border-radius: 3px;
  box-shadow: inset 2px 2px 10px #222;
}
.switch-container__switched {
  background-color: rgba(0, 230, 77, 0.493);
}
.switch-container__not-switched {
  background-color: rgba(255, 38, 0, 0.52);
}
.switch__switched {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.switch-container {
  position: relative;
  height: 30px;
  width: 65px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: INSET 5px 5px 5px 2px rgba(34, 34, 34, 0.7);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.switch-container .switch {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  background-image: -webkit-linear-gradient(top left, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  box-shadow: 1px 1px 1px rgba(34, 34, 34, 0.7), 0px 0px 1px rgba(47, 47, 47, 0.7);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.label {
  width: 80px;
  color: #e2e2e2;
  text-align: center;
}
.osc-level {
  position: relative;
  grid-area: osc-level;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0 10px;
  background: rgba(141, 152, 163, 0.411);
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.wavtype {
  grid-area: wavtype;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0 10px;
  background: rgba(141, 152, 163, 0.411);
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.tuning {
  position: relative;
  grid-area: tuning;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0 10px;
  background: rgba(141, 152, 163, 0.411);
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.tuning .label {
  margin: 8px 0;
}
.osc-container {
  margin: 10px;
  display: grid;
  box-shadow: 1px 1px 2px rgba(34, 34, 34, 0.7), 0px 0px 1px rgba(47, 47, 47, 0.7);
  border-radius: 5px;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(255, 158, 141, 0.418), rgba(255, 99, 71, 0.52));
  background-image: -webkit-linear-gradient(top left, rgba(255, 158, 141, 0.418), rgba(255, 99, 71, 0.52));
  background-image: linear-gradient(to bottom right, rgba(255, 158, 141, 0.418), rgba(255, 99, 71, 0.52));
  grid-template-areas: 'osc-level wavtype tuning' 'osc-level wavtype tuning';
}
.filterParams {
  position: relative;
}
.filter-cutoff-q {
  position: relative;
  grid-area: filter-cutoff-q;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.filter-cutoff-q .label {
  margin: 8px 0;
}
.filt-type {
  grid-area: filt-type;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 0 10px;
  border: 1px solid rgba(0, 0, 0, 0.089);
  border-radius: 5px;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.filt-container {
  margin: 10px;
  display: grid;
  box-shadow: 1px 1px 2px rgba(34, 34, 34, 0.7), 0px 0px 1px rgba(47, 47, 47, 0.7);
  border-radius: 5px;
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(123, 180, 142, 0.568), rgba(52, 187, 97, 0.493));
  background-image: -webkit-linear-gradient(top left, rgba(123, 180, 142, 0.568), rgba(52, 187, 97, 0.493));
  background-image: linear-gradient(to bottom right, rgba(123, 180, 142, 0.568), rgba(52, 187, 97, 0.493));
  grid-template-rows: auto;
  grid-template-areas: 'filt-type filter-cutoff-q' 'filt-type filter-cutoff-q';
}
.oscOne {
  grid-area: oscOne;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.oscTwo {
  grid-area: oscTwo;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.filt {
  grid-area: filt;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.text {
  grid-area: text;
  margin: auto;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.x {
  grid-area: x;
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.mono-synth {
  width: 960px;
  height: 500px;
  background: #b5bdc8;
  background: -webkit-linear-gradient(-45deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
  background: -webkit-linear-gradient(315deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
  background: linear-gradient(135deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
  border-radius: 5px;
  display: grid;
  box-shadow: 10px 10px 15px #222, 0px 0px 10px #2f2f2f;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 'text text text' 'oscOne oscTwo filt' 'oscOne oscTwo filt' '. x .';
  padding: 20px;
}
.step {
  width: 40px;
  height: 40px;
  margin: 0 4px;
  border-radius: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-transition: all 0.03s;
  transition: all 0.03s;
  box-shadow: 2px 2px 1px #111, 0px 0px 2px #1e1e1e;
}
.step:active {
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(255, 191, 138, 0.911), rgba(255, 115, 0, 0.883));
  background-image: -webkit-linear-gradient(top left, rgba(255, 191, 138, 0.911), rgba(255, 115, 0, 0.883));
  background-image: linear-gradient(to bottom right, rgba(255, 191, 138, 0.911), rgba(255, 115, 0, 0.883));
  box-shadow: 1px 1px 10px rgba(255, 115, 0, 0.65), 0px 0px 1px rgba(255, 129, 26, 0.65);
}
.step__not-clicked {
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  background-image: -webkit-linear-gradient(top left, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  background-image: linear-gradient(to bottom right, rgba(128, 128, 128, 0.678), rgba(85, 85, 85, 0.637));
  box-shadow: 2px 2px 1px #111, 0px 0px 2px #1e1e1e;
}
.step__clicked {
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(173, 204, 255, 0.911), rgba(72, 142, 255, 0.883));
  background-image: -webkit-linear-gradient(top left, rgba(173, 204, 255, 0.911), rgba(72, 142, 255, 0.883));
  background-image: linear-gradient(to bottom right, rgba(173, 204, 255, 0.911), rgba(72, 142, 255, 0.883));
  box-shadow: 1px 1px 10px rgba(55, 131, 255, 0.883), 0px 0px 1px rgba(81, 147, 255, 0.883);
}
.currentStep {
  border: 1px solid rgba(53, 53, 53, 0.246);
  background: rgba(102, 102, 102, 0.719);
  background-image: -webkit-linear-gradient(left top, rgba(189, 255, 173, 0.911), rgba(99, 255, 72, 0.883));
  background-image: -webkit-linear-gradient(top left, rgba(189, 255, 173, 0.911), rgba(99, 255, 72, 0.883));
  background-image: linear-gradient(to bottom right, rgba(189, 255, 173, 0.911), rgba(99, 255, 72, 0.883));
  box-shadow: 1px 1px 10px rgba(55, 255, 88, 0.883), 0px 0px 1px rgba(81, 255, 109, 0.883);
}
.stepSequencer {
  width: 1050px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 10px 10px 15px #000000, 0px 0px 10px #0d0d0d;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  background: #b5bdc8;
  background: -webkit-linear-gradient(-45deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
  background: -webkit-linear-gradient(315deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
  background: linear-gradient(135deg, #b5bdc8 0%, #828c95 36%, #424e55 100%);
}
