// main: ../../index.less
.mono-flex() {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.oscOne {
  grid-area: oscOne;
  .mono-flex;
}
.oscTwo {
  grid-area: oscTwo;
  .mono-flex;
}
.filt {
  grid-area: filt;
  .mono-flex;
}
// .lfo {
//   grid-area: lfo;
//   .mono-flex;
// }
// .env {
//   grid-area: env;
//   .mono-flex;
// }
// .displayContainer {
//   grid-area: display;
//   .mono-flex;
//   justify-content: center;
// }
.text {
  grid-area: text;
  margin: auto;
  align-items: center;
  text-align: center;
  .mono-flex;
}
.x {
  grid-area: x;
  text-align: center;
  .mono-flex;
}

.mono-synth {
  width: 960px;
  height: 500px;
  .component-background;
  border-radius: 5px;
  display: grid;
  .shadow(10px, 15px, #222);
  grid-template-columns: 1fr 1fr 1fr;

  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas:
    'text text text'
    'oscOne oscTwo filt'
    'oscOne oscTwo filt'
    '. x .';
  padding: 20px;
}
