// main: ../../index.less
.mono-flex() {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.oscOne {
  grid-area: oscOne;
  .mono-flex;
}
.oscTwo {
  grid-area: oscTwo;
  .mono-flex;
}
.filt {
  grid-area: filt;
  .mono-flex;
}
.lfo {
  grid-area: lfo;
  .mono-flex;
}
.env {
  grid-area: env;
  .mono-flex;
}
.displayContainer {
  grid-area: display;
  .mono-flex;
  justify-content: center;
}
.text {
  grid-area: text;
  text-align: left;
}

.mono-synth {
  width: 800px;
  height: 500px;
  .component-background;

  display: grid;

  // grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'oscOne oscTwo text filt filt'
    'lfo display display env env';
  padding: 20px;
}
